<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <IsWebMail>0</IsWebMail>
  <IsTestMail>1</IsTestMail>
  <TestMailID>akhila@hirecraft.in</TestMailID>
  <MailBcc>akhila@hirecraft.in</MailBcc>
  <SMTPServer>homie.mail.dreamhost.com</SMTPServer>
  <SMTPFromMailID>lalitsaini@hirecraft.in</SMTPFromMailID>
  <SMTPUserID>lalitsaini@hirecraft.in</SMTPUserID>
  <SMTPPassword>Craft@12</SMTPPassword>
  <SMTPPort>587</SMTPPort>
  <EnableSSLMail>1</EnableSSLMail>
  <UseDefaultCredential>0</UseDefaultCredential>
  <!-- common e-mail ids -->
  <MailBcc>rc@bosch.com</MailBcc>
</Root>
 